@charset "UTF-8";

html {
    font-size: 10px;
}

body {
    color: #432;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background: url(img/bg.jpg.crdownload);
    position: relative;
    z-index: -10;
}

body::before {
    content: "";
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 1000px;
    /* height: 1000px; */
    margin: 0 auto;
    padding-bottom: 300px;
    background-color: #fff;
    
}

.button_wrapper {
    display: inline-flex;
    flex-direction: column;
}

.container {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    border: 2px solid #a9a9a9;
    box-shadow: 10px 10px 4px #ccc ;
    border-radius: 10px;
    padding: 5px 40px;
    margin: 10px 30px 30px 0
}

.btn:hover {
    box-shadow: none;
    border: 5px solid tomato;
    position: relative;
    top:10px;
    left:10px;
}

/* ボタンへこませるclass */
.btn_none {
    box-shadow: none;
    border: 5px solid tomato;
    position: relative;
    top:10px;
    left:10px;   
}

.btn_done {
    padding:5px 100px;
}

#lunchBtn {
    margin: 20px 0 30px 0;
}

.mov {
    display: none;
}

.movOff {
    display: none;
}

.img {
    display: none;
    width: 200px;
}


.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.icon {
    width: 50px;
    margin:0 10px 0 10px;
}

#lunchMessage {
    font-size: 30px;
}